---
layout: default
---

<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{page.title}}</h2>
            <p class="meta">
			Owner: {{page.owner}} <br/> 
			{% if page.play == Nil %}
			Not published on Google Play
			{% else %}
			<a href="{{page.play}}">{{page.title}} on Google Play</a>
			{% endif %}
			</p>
            <div class="post">
                {{content}}
            </div>
			<div style="text-align: center; vertical-align: middle;">
			{% assign imagename = page.name | replace_first: '/apps/', '' | replace: '.md', '_1.jpg' %}
			{% for static_file in site.static_files %}
				{% if static_file.name == imagename %}
					<img src="{{ imagename }}" alt="{{ imagename }}" width="400">
				{% endif %}
			{% endfor %}
				
			</div>
        </div>
    </div>
</div>